html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
span {
    font-weight: bold;
}
h3 {
    font-size: 35px;
}
i {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 7;
}
i img {
    width: 30px;
    height: 30px;
}
/* _____MENU_____ */
.menu {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    z-index: 6;
    right: 1000px;
    transition: 1s;
}
.menu ul {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 50px 0;
}
.menu ul li {
    margin: 100px 0;
}
.menu ul a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}
.menu.is-active {
    right: 0;
}

/* _____HEADER_____ */
header {
    width: 100%;
    height: 70px;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8818714985994398) 50%, rgba(0,0,0,1) 100%);
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    width: 30px;
}

/* _____HERO_____ */
.hero {
    width: 100%;
    height: 90vh;
    background-image: url(./img-2/hero-img.jpg);
    background-size: cover;
    background-position: center;
}
.mica {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: relative;
}
.text-hero-container {
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    color: white;
    font-size: 35px;
    text-align: center;
}
.hero figure {
    width: 70%;
    margin: 0 auto;
    border-bottom: 2px solid white;
}
.hero figure h1 {
    font-weight: bold;
    margin: 10px;
}
.text-hero-container h2 {
    font-size: .8em;
    font-weight: normal;
    margin: 10px;
}
.flecha-container {
    position: absolute;
    top: 450px;
    width: 100%;
    text-align: center;
}
.hero img {
    width: 80px;
    animation: flecha 2s infinite;
}
@keyframes flecha {
    from {
        transform: translateY(30px);
    }
    50% {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(30px);
    }
}
/* _____SKILLS_____ */
.skills {
    width: 90%;
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: -3px 8px 12px -5px rgba(0,0,0,1);
}
.skills h3 {
    margin: 0;
    padding: 20px;
}
.skills-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.skills-container div {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.devtools {
    background-image: url(./img-2/devtools.png);
}
.css {
    background-image: url(./img-2/css.png);
}
.figma {
    background-image: url(./img-2/figma.png);
}
.git {
    background-image: url(./img-2/git.png);
}
.html {
    background-image: url(./img-2/html.png);
}
.github {
    background-image: url(./img-2/github.png);
}
.sass {
    background-image: url(./img-2/sass.png);
}
/* _____PROYECTOS_____ */
.proyectos {
    width: 100%
}
.proyectos h3 {
    margin: 0;
    padding: 20px;
}
.card-projects1 {
    width: 75%;
    margin: 20px auto;
    box-shadow: -3px 8px 12px -5px rgba(0,0,0,1);
    border-radius: 20px;
}
.card-projects1 img {
    width: 100%;
    height: 65%;
    border-radius: 20px;
}
.card-text-container {
    width: 80%;
    margin: 15px auto;
}
.card-text-container h4 {
    margin: 0;
    padding-bottom: 15px;
    font-size: 25px;
}
.card-text-container p {
    margin: 0;
    font-size: 16px;
}
.card-projects1 figure {
    margin: 0;
    text-align: center;
}
.card-projects1 figure img {
    width: 30px;
    text-align: center;
}
.card-projects2  {
    width: 75%;
    margin: 20px auto;
    box-shadow: -3px 8px 12px -5px rgba(0,0,0,1);
    border-radius: 20px;
}
.card-projects2 img {
    width: 100%;
    border-radius: 20px;
}
.card-projects2 figure img {
    width: 30px;
}
.card-projects2 figure {
    margin: 0;
    text-align: center;
}
/* _____SOBRE MI_____ */
.sobreMi {
    width: 75%;
    margin: 70px auto;
}
.sobreMi h3 {
    margin: 0;
}
.sobreMi p {
    font-size: 18px;
    margin: 20px 0;
}
/* _____CONTACTO_____ */
.contacto {
    width: 75%;
    margin: 20px auto;
}
.contacto-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contacto h3 {
    text-align: center;
}
.contacto a {
    width: 40px;
    height: 40px;
}
.contacto a div {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
}
.contacto .linkedin {
    background-image: url(./img-2/linkedin-icon.png);
}
.contacto .email {
    background-image: url(./img-2/gmail-icon.png);
}
.contacto .twitter {
    background-image: url(./img-2/twitter-icon.png);
}
.contacto .facebook {
    background-image: url(./img-2/fb-icon.png);
}
/* _____FOOTER_____ */
footer {
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    font-size: 12px;
    color: white;
    margin-right: 10px;
}